<% if flash[:errors] %>
	<% flash[:errors].each do |e| %>
		<p><%= e %></p>
	<% end %>
<% end %>

<h1>Lender</h1>

<form action="/lenders" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<p>
		<label>First Name: </label>
		<input type="text" name="lender[first_name]">
	</p>

	<p>
		<label>Last Name: </label>
		<input type="text" name="lender[last_name]">
	</p>
	<p>
		<label>Email: </label>
		<input type="email" name="lender[email]">
	</p>

	<p>
		<label>Password: </label>
		<input type="password" name="lender[password]">
	</p>
	<p>
		<label>Password Confirmation: </label>
		<input type="password" name="lender[password_confirmation]">
	</p>
	<p>
		<label>Money </label>
		<input type="text" name="lender[money]">
	</p>

	<input type="submit" value="Register">
</form>

<p><a href="/lenders">Already a member?</a></p>


<h1>Borrower</h1>

<form action="/borrowers" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<p>
		<label>First Name: </label>
		<input type="text" name="borrower[first_name]">
	</p>
	<p>
		<label>Last Name: </label>
		<input type="text" name="borrower[last_name]">
	</p>
	<p>
		<label>Email: </label>
		<input type="email" name="borrower[email]">
	</p>

	<p>
		<label>Password: </label>
		<input type="password" name="borrower[password]">
	</p>
	<p>
		<label>Password Confirmation: </label>
		<input type="password" name="borrower[password_confirmation]">
	</p>	
	<p>
		<label>Need Money For: </label>
		<input type="text" name="borrower[purpose]">
	</p>
	<p>
		<label>Description: </label>
		<textarea name="borrower[description]"></textarea>
	</p>
	<p>
		<label>Amount needed: </label>
		<input type="text" name="borrower[money]">
	</p>
	<input type="submit" value="Register">
</form>

<p><a href="/borrowers">Already a member?</a></p>