<h1>Lenders Login</h1>

<form action="/lenders/login" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<p>
		<label>Email: </label>
		<input type="email" name="email">
	</p>
	<p>
		<label>Password: </label>
		<input type="password" name="password">
	</p>
	<input type="submit" value="Login">
</form>